<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">

<%= javascript_include_tag 'penn_state_aeon_form' %>

<% handler.list_map.each do |name, value| %>
  <input type="hidden" name="<%= name %>" value="<%= value  %>">
<% end %>

<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-default pull-right rl-ha-aeon-link"
      title="<%= t('plugin.request_list.aeon_button_label') %>"
      href="<%= handler.list_opts[:aeon_link_url]  %>"
      target="<%= handler.list_opts.fetch(:form_target, '_self') %>">

      <%= t("plugin.request_list.aeon_button_label") %>
    </a>
    <div class="rl-message rl-message-title">
      <div class="rl-ha-collapsed-help">
        <p><%= t('plugin.request_list.title_message').html_safe %></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 no-pad">
    <h2 class="rl-request-form-header">
      <%= t('plugin.request_list.request_form_subtitle')  %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="form-group rl-ha-type-select">
      <label for="request_type_select" class="control-label"><%= t('plugin.request_list.options.request_type') %></label>
      <select name="request_type" id="request_type_select" class="form-control">
        <% handler.list_opts[:request_types].each do |type, values| %>
          <option value="<%= ASUtils.to_json(values) %>"><%= type %></option>
        <% end %>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="rl-ha-additional-fields">
    <div class="col-xs-12 col-sm-4 rl-ha-options-form" id="rl-readingroom-options-form" data-request-type="readingroom">
      <div class="form-group required">
        <label for="request_date" class="control-label" title="Required"><%= t('plugin.request_list.options.date') %></label>
        <div class="input-group datepicker rl-datepicker">
          <input id="request_date" class="date-field form-control rl-ha-list-input required"
                 title="<%= t('plugin.request_list.options.date_help') %>"
                 data-date="<%= Date.today.strftime('%m/%d/%Y') %>"
                 data-date-start-date="<%= Date.today.strftime('%m/%d/%Y') %>"
                 data-autoclose="true"
                 data-force-parse="true"
                 placeholder="MM/DD/YYYY"
                 aria-label="Use the arrow keys to select a date"
                 name="ScheduledDate">
        </div>
      </div>

    </div>

    <div class="rl-ha-options-form" id="rl-saved-options-form" data-request-type="saved">
      <span></span>
    </div>


    <div class="rl-ha-options-form" id="rl-photoduplication-options-form" data-request-type="photoduplication">
      <div class="form-group col-xs-12 col-sm-3">
        <label for="request_format" class="control-label" title="Required"><%= t('plugin.request_list.options.format') %></label>
        <select id="request_format" class="form-control rl-ha-list-input required">
          <option value="">...</option>
          <% handler.list_opts[:format_options].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-3">
        <label for="request_shipping_option" class="control-label" title="Required"><%= t('plugin.request_list.options.delivery') %></label>
        <select id="request_shipping_option" class="form-control rl-ha-list-input required">
          <option value="">...</option>
          <% handler.list_opts[:delivery_options].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-3">
        <label for="request_service_level" class="contro-label" title="Required"><%= t('plugin.request_list.options.service_level') %></label>
        <select id="request_service_level" class="form-control rl-ha-list-input required">
          <option value="">...</option>
          <% handler.list_opts[:service_level_options].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group col-xs-12 col-sm-2" style="padding-top: 20px">
        <label for="request_for_publication" class="control-label" style="display:inline"><%= t('plugin.request_list.options.for_publication') %></label>
        &nbsp;
        <input id="request_for_publication" type="checkbox" class="rl-ha-list-input" style="display:inline" value="Yes"/>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="form-group rl-ha-notes-and-questions col-xs-12 col-sm-5">
    <label for="request_notes" class="control-label"><%= t('plugin.request_list.options.notes') %></label>
    <textarea id="request_notes"
              rows="3"
              class="form-control rl-ha-list-input"
              placeholder="<%= t('plugin.request_list.options.notes_help') %>"
              maxlength="65536"></textarea>
  </div>

  <div class="form-group rl-ha-notes-and-questions col-xs-12 col-sm-5">
    <label for="request_questions" class="control-label rl-ha-questions-label"
            data-photoduplication-label="<%= t('plugin.request_list.options.photoduplication_instructions') %>"
            data-other-label="<%= t('plugin.request_list.options.questions') %>">
      <%= t('plugin.request_list.options.questions') %>
    </label>
    <textarea id="request_questions"
              rows="3"
              class="form-control rl-ha-list-input rl-ha-questions-input"
              placeholder="<%= t('plugin.request_list.options.questions_help') %>"
              data-photoduplication-help="<%= t('plugin.request_list.options.photoduplication_instructions_help') %>"
              data-other-help="<%= t('plugin.request_list.options.questions_help') %>"
              maxlength="255"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <div class="pull-right" style="padding-top:20px">
      <button type="submit" class="btn btn-primary submit-requests"><%= t('plugin.request_list.submit_button_label') %></button>
    </div>
  </div>
</div>
<script>
  var picker = new Pikaday({ 
      field: document.getElementById('request_date'),
      format: 'MM/DD/YYYY',
      firstDay: 1,
      minDate: new Date()
  });
</script>
