<% if RequestList.show_button_for?(record) %>
  <a id="request_list_action_button"
     class="btn btn-default page_action"
     data-title="<%= record['title'] %>"
     data-uri="<%= record['uri'] %>"
     data-add-label="<%= t('plugin.request_list.add_to_list_button_label') %>"
     data-remove-label="<%= t('plugin.request_list.remove_from_list_button_label') %>"
     data-add-icon="<%= t('plugin.request_list.add_to_list_button_icon') %>"
     data-remove-icon="<%= t('plugin.request_list.remove_from_list_button_icon') %>"

     title="<%= t('plugin.request_list.add_to_list_button_label') %>"
     onclick="request_list.toggleListItem($(this).data('uri'));"
     href="javascript:void(0);">

    <i class="fa fa-3x <%= t('plugin.request_list.add_to_list_button_icon') %>"></i>
    <br>
    <%= t('plugin.request_list.add_to_list_button_label') %>
  </a>
<% end %>


