<% @item_count ||= 0; @item_count += 1 %>

<div style="width: 90%;">
  <div class="pull-left" style="width: 40px; display: inline-block;">
    <div style="text-align: center;">
      <h3><%= @item_count %></h3>
    </div>
  </div>

  <div style="display: inline-block;">

      <% unless item.type == Resource %>
        <div class="rl-display rl-display-record">
          Record:
          <a href="<%= app_prefix(item.record.uri) %>">  <%== item.record.name %></a>
        </div>
      <% end %>

      <div class="rl-display rl-display-collection">
        Collection:
        <a href="<%= app_prefix(item.collection.uri) %>">  <%== item.collection.name %></a>
      </div>

      <div class="rl-display rl-display-repository">
        Repository:
        <a href="<%= app_prefix(item.repository.uri) %>">  <%== item.repository.name %></a>
      </div>

  </div>
</div>

<%#
Line 1: Item Title, Date, Top Container Type and ID, Child Container Type and ID, Item ID, Extent Number and Type
Line 2: Collection Title, Collection ID, Series, Sub-Series [is it possible to provide the collection breadcrumb?]
Line 3: Repository
Of course, if any of the fields in line 1 and 2 do not have values, just ignore them.
%>
