<% @item_count ||= 0; @item_count += 1 %>
<% is_resource = item.type == Resource %>

<div class="rl-item-display">

<%= render partial: 'request_list/remove_from_list_button', locals: {:uri => item.uri } %>

<table class="rl-item-table">
  <tr>
    <td rowspan="<%= is_resource ? 2 : 3 %>" width="40px">
      <h3><%= @item_count %></h3>
    </td>

    <% unless is_resource %>
      <td width="1%">
        Record:
      </td>
      <td class="rl-display rl-display-record">
        <a href="<%= app_prefix(item.record.uri) %>">  <%== item.record.name %></a>
      </td>
  </tr>

  <tr>
    <% end %>
    <td width="1%">
      Collection:
    </td>
    <td class="rl-display rl-display-collection">
      <a href="<%= app_prefix(item.collection.uri) %>">  <%== item.collection.name %></a>
      <% item.collection.multi.drop(1).map do |c| %>
        >> <a href="<%= app_prefix(c.uri) %>">  <%== c.name %></a>
      <% end %>
    </td>
  </tr>

  <tr>
    <td>
      Repository:
    </td>
    <td class="rl-display rl-display-repository">
      <a href="<%= app_prefix(item.repository.uri) %>">  <%== item.repository.name %></a>
    </td>
  </tr>
</table>

<%= render partial: 'request_list/expand_item_button', locals: {:item => item } %>

</div>

<%#
Line 1: Item Title, Date, Top Container Type and ID, Child Container Type and ID, Item ID, Extent Number and Type
Line 2: Collection Title, Collection ID, Series, Sub-Series [is it possible to provide the collection breadcrumb?]
Line 3: Repository
Of course, if any of the fields in line 1 and 2 do not have values, just ignore them.
%>
