<% @item_count ||= 0; @item_count += 1 %>

<div class="row">
  <div class="col-sm-1">
    <div align="center">
      <h3><%= @item_count %></h3>
    </div>
  </div>

  <div class="col-sm-10">
    <div class="recordinfo">

      <% unless item.type == Resource %>
        <div>
          Record:
          <a href="<%= app_prefix(item.record.uri) %>">  <%== item.record.name %></a>
        </div>
      <% end %>

      <div>
        Collection:
        <a href="<%= app_prefix(item.collection.uri) %>">  <%== item.collection.name %></a>
      </div>

      <div>
        Repository:
        <a href="<%= app_prefix(item.repository.uri) %>">  <%== item.repository.name %></a>
      </div>

    </div>
  </div>
</div>

<%#
Line 1: Item Title, Date, Top Container Type and ID, Child Container Type and ID, Item ID, Extent Number and Type
Line 2: Collection Title, Collection ID, Series, Sub-Series [is it possible to provide the collection breadcrumb?]
Line 3: Repository
Of course, if any of the fields in line 1 and 2 do not have values, just ignore them.
%>
