<div class="rl-list-item" data-uri="<%= item.uri %>"
<% handler.sort_fields.each do |field, val_proc| %>
  data-sort-<%= field %>="<%= val_proc.call(item).gsub(/"/, '') %>"
<% end %>
>

  <%= render partial: "request_list/item_display", locals: {:form => form, :item => item, :handler => handler } %>

  <% if include_form %>
    <div class="request-list-item-form recordinfo">
      <%= render partial: "request_list/#{handler.profile}/form_item", locals: {:form => form, :item => item.form_fields, :handler => handler } %>
    </div>
  <% end %>

</div>
