
<% handler.list_map.each do |name, value| %>

  <input type="hidden" name="<%= name %>" value="<%= value  %>">

<% end %>

<div class="form-group">
  <button type="submit" class="btn btn-primary"><%= t('plugin.request_list.submit_button_label') %> to <%= handler.name %></button>
</div>

<div class="form-group request-list-type-select">
  <label class="control-label col-sm-5">Request Type</label>
  <div class="col-sm-7">
    <select name="request_type" id="request_type_select" class="form-control">
      <% handler.list_opts[:request_types].each do |type, values| %>
        <option value="<%= ASUtils.to_json(values) %>"><%= type %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="row"><br/></div>

<div class="col-sm-12 request-list-additional-fields">
<div class="row"><br/></div>
<div id="photoduplication-options-form">
  <div class="form-group">
    <select name="Format" class="form-control">
      <option value="">Select a format ...</option>
      <% handler.list_opts[:format_options].each do |option| %>
        <option value="<%= option %>"><%= option %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <select name="ShippingOption" class="form-control">
      <option value="">Select a delivery option ...</option>
      <% handler.list_opts[:delivery_options].each do |option| %>
        <option value="<%= option %>"><%= option %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <select name="ForPublication" class="form-control">
      <option value="">Intended for publication? ...</option>
      <option value="Yes">Yes, intended for publication</option>
      <option value="No">No, not intended for publication</option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">Note</label>
    <textarea name="PhotoduplicationNote" rows="4" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label">Photoduplication Instructions</label>
    <textarea name="PhotoduplicationInstructions" rows="4" class="form-control"></textarea>
  </div>

</div>
</div>


<script>

  $("#request_type_select").change(function() {
    var selected = this.selectedOptions[0];
    var inputs = JSON.parse(selected.getAttribute("value"));
    for(var name in inputs) {
      $(this).parent().find("input[name=" + name + "]").attr("value", inputs[name]);
    }
    if (selected.text == 'Photoduplication') {
      $("#photoduplication-options-form").show();
      $(".request-list-additional-fields").slideDown();
    } else {
      $(".request-list-additional-fields").slideUp('normal', function() {
        var form = $("#photoduplication-options-form");
        form.hide();
        form.find("select").val("");
        form.find("textarea").val("");
      });
    }
  });

</script>
