<div class="row">
  <div class="col-sm-12">
    <h2><%= t('plugin.request_list.list_title')  %></h2>
  </div>
</div>

<% @mapper.handlers.each do |handler| %>

<%= form_tag handler.url do |f| %>

<div class="row">

  <div class="col-sm-9">
    <a name="main" title="Main Content"></a>
    <div class="row"></div>
    <div class="row search-results">
      <div class="col-sm-12">
        <a name="searchresults" id="searchresults"></a>

        <% unhandled_items = handler.each_item_map do |item, map| %>
          <div class="recordrow" style="clear:both" data-uri="<%= item.uri %>">
            <%= render partial: 'request_list/remove_from_list_button', locals: {:record => item } %>
            <%= render partial: 'shared/idbadge', locals: {:result => item, :props => {} } %>
            <div class="row"></div>
            <div class="row request-list-item-form">
              <%= render partial: 'request_list/item_form', locals: {:form => f, :item => map } %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    <div class="row"></div>
    <% unless unhandled_items.empty? %>
      <div class="row">
        <h3><%= t('plugin.request_list.unhandled_items_title')  %></h3>
        <div><%= t('plugin.request_list.unhandled_items_message')  %></div>
        <% unhandled_items.each do |item| %>
          <div class="recordrow" style="clear:both" data-uri="<%= item.uri %>">
            <%= render partial: 'request_list/remove_from_list_button', locals: {:record => item } %>
            <%= render partial: 'shared/idbadge', locals: {:result => item, :props => {} } %>
            <div class="row"></div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="col-sm-3">
    <h3><%= handler.name %></h3>
    <div>
      <%= render partial: 'request_list/list_form', locals: {:form => f, :list_map => handler.list_map } %>
    </div>
  </div>

</div>

<% end %>

<% end %>

