<div class="row">
  <div class="col-sm-12">
    <h2><%= t('plugin.request_list.list_title')  %></h2>
  </div>
</div>

<% @mapper.handlers.each do |handler| %>

<%= form_tag handler.url do |f| %>

<div class="row">

  <div class="col-sm-8">
    <a name="main" title="Main Content"></a>
    <div class="row"></div>
    <div class="row search-results">
      <div class="col-sm-12">
        <a name="searchresults" id="searchresults"></a>

        <% unhandled_items = handler.each_item_map do |item, map| %>
          <%= render partial: 'request_list/show_item', locals: {:form => f, :item => item, :map => map, :include_form => true} %>
        <% end %>

      </div>
    </div>
    <div class="row"></div>
    <% unless unhandled_items.empty? %>
      <div class="row">
        <h3><%= t('plugin.request_list.unhandled_items_title')  %></h3>
        <div><%= t('plugin.request_list.unhandled_items_message')  %></div>

        <% unhandled_items.each do |item| %>
          <%= render partial: 'request_list/show_item', locals: {:form => f, :item => item, :map => map, :include_form => false} %>
        <% end %>

      </div>
    <% end %>
  </div>

  <div class="col-sm-4">
    <div>
      <%= render partial: 'request_list/list_form', locals: {:form => f, :handler => handler} %>
    </div>
  </div>

</div>

<% end %>

<% end %>

