<link href="<%= "/assets/datepicker.css" %>" media="all" rel="stylesheet" type="text/css">

<%= javascript_include_tag 'bootstrap-datepicker' %>
<%= javascript_include_tag 'bootstrap-combobox' %>

<%= javascript_include_tag 'harvard_aeon_form' %>

<% handler.list_map.each do |name, value| %>
  <input type="hidden" name="<%= name %>" value="<%= value  %>">
<% end %>


<a class="pull-right rl-ha-aeon-link"
   title="<%= t('plugin.request_list.aeon_button_label') %>"
   href="<%= handler.list_opts[:aeon_link_url]  %>"
   target="<%= handler.list_opts.fetch(:form_target, '_self') %>">

  <%= t("plugin.request_list.aeon_button_label") %>
</a>


<div class="rl-message rl-message-title">

  <div class="rl-ha-collapsed-help">
    <%= t('plugin.request_list.title_message').html_safe %>
  </div>

  <h7><b class='serif'><%= t('plugin.request_list.expanded_help_title').html_safe %></b></h7>
  <div class="rl-ha-expanded-help" style="display:none">
    <ul style='padding-right: 20px'>
      <% t('plugin.request_list.expanded_help_elements').each do |str| %>
        <li class="expanded_help_list_item"><p class='serif'><%=str.html_safe%></p></li>
      <%end%>
    </ul>
  </div>
</div>

<a class="rl-ha-expand-help"
   title="<%= t('plugin.request_list.expand_help_message') %>"
   data-expand-label="<%= t('plugin.request_list.expand_help_label') %>"
   data-collapse-label="<%= t('plugin.request_list.collapse_help_label') %>"
   href="javascript:void(0);">

  <%= t('plugin.request_list.expand_help_label') %>
</a>


<div class="row">
  <div class="col-sm-10 no-pad">
    <div class="rl-request-form-header">
      <%= t('plugin.request_list.request_form_subtitle')  %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-3">
    <div class="form-group rl-ha-type-select">
      <label class="control-label"><%= t('plugin.request_list.options.request_type') %></label>
      <div class="">
        <select name="request_type" id="request_type_select" class="form-control">
          <% handler.list_opts[:request_types].each do |type, values| %>
            <option value="<%= ASUtils.to_json(values) %>"><%= type %></option>
          <% end %>         
        </select>
      </div>
    </div>
  </div>


  <div class="rl-ha-additional-fields">

    <div class="rl-ha-options-form" id="rl-readingroom-options-form" data-request-type="readingroom">

      <div class="form-group col-sm-4">
        <label class="control-label" title="Required"><%= t('plugin.request_list.options.date') %> *</label>
        <div class="input-group datepicker rl-datepicker">
          <input class="date-field form-control rl-ha-list-input required"
                 title="<%= t('plugin.request_list.options.date_help') %>"
                 data-format="mm/dd/yyyy"
                 data-date="<%= Date.today.strftime('%m/%d/%Y') %>"
                 data-date-start-date="<%= Date.today.strftime('%m/%d/%Y') %>"
                 data-autoclose="true"
                 data-force-parse="true"
                 placeholder="MM/DD/YYYY"
                 name="ScheduledDate">
        </div>
      </div>

    </div>


    <div class="rl-ha-options-form" id="rl-saved-options-form" data-request-type="saved">
      <span></span>
    </div>


    <div class="rl-ha-options-form" id="rl-photoduplication-options-form" data-request-type="photoduplication">
      <div class="form-group col-sm-3">
        <label class="control-label" title="Required"><%= t('plugin.request_list.options.format') %> *</label>
        <select name="Format" class="form-control rl-ha-list-input required">
          <option value="">...</option>
          <% handler.list_opts[:format_options].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group col-sm-3">
        <label class="control-label" title="Required"><%= t('plugin.request_list.options.delivery') %> *</label>
        <select name="ShippingOption" class="form-control rl-ha-list-input required">
          <option value="">...</option>
          <% handler.list_opts[:delivery_options].each do |option| %>
            <option value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
      </div>

      <div class="form-group col-sm-2" style="padding-top: 20px">
        <label class="control-label" style="display:inline"><%= t('plugin.request_list.options.for_publication') %></label>
        &nbsp;
        <input type="checkbox" name="ForPublication" class="rl-ha-list-input" style="display:inline" value="Yes"/>
      </div>
    </div>
  </div>
</div>



<div class="row">

  <div class="form-group rl-ha-notes-and-questions col-sm-5">
    <div class="form-group">
      <label class="control-label"><%= t('plugin.request_list.options.notes') %></label>
      <textarea name="Notes"
                rows="3"
                class="form-control rl-ha-list-input"
                title="<%= t('plugin.request_list.options.notes_help') %>"
                maxlength="65536"></textarea>
    </div>
  </div>

  <div class="form-group rl-ha-notes-and-questions col-sm-5">
    <div class="form-group">
      <label class="control-label rl-ha-questions-label"
             data-photoduplication-label="<%= t('plugin.request_list.options.photoduplication_instructions') %>"
             data-other-label="<%= t('plugin.request_list.options.questions') %>">
        <%= t('plugin.request_list.options.questions') %>
      </label>
      <textarea name="SpecialRequest"
                rows="3"
                class="form-control rl-ha-list-input rl-ha-questions-input"
                title="<%= t('plugin.request_list.options.questions_help') %>"
                data-photoduplication-help="<%= t('plugin.request_list.options.photoduplication_instructions_help') %>"
                data-other-help="<%= t('plugin.request_list.options.questions_help') %>"
                maxlength="255"></textarea>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <div class="pull-right" style="padding-top:20px">
      <button type="submit" class="btn btn-primary submit-requests"><%= t('plugin.request_list.submit_button_label') %></button>
    </div>
  </div>
</div>


