<div class="col-sm-7">
  <div class="rl-message rl-message-title pull-right">
    <%= t('plugin.request_list.title_message') %>
  </div>
</div>

<div class="col-sm-5 form-group">
  <button type="submit" class="btn btn-primary"><%= t('plugin.request_list.submit_button_label') %></button>

  <a class="btn btn-default pull-right"
     title="<%= t('plugin.request_list.aeon_button_label') %>"
     href="<%= handler.list_opts[:aeon_link_url]  %>"
     target="harvard-library-requests">

    <%= t("plugin.request_list.aeon_button_label") %>
    &nbsp;
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>
