<link href="<%= "/assets/datepicker.css" %>" media="all" rel="stylesheet" type="text/css">

<%= javascript_include_tag 'bootstrap-datepicker' %>
<%= javascript_include_tag 'bootstrap-combobox' %>

<% handler.list_map.each do |name, value| %>

  <input type="hidden" name="<%= name %>" value="<%= value  %>">

<% end %>

<div class="rl-message rl-message-list-options">
  <%= t('plugin.request_list.list_options_message').html_safe %>
</div>

<div class="form-group request-list-type-select">
  <label class="control-label col-sm-5"><%= t('plugin.request_list.options.request_type') %></label>
  <div class="col-sm-7">
    <select name="request_type" id="request_type_select" class="form-control">
      <% handler.list_opts[:request_types].each do |type, values| %>
        <option value="<%= ASUtils.to_json(values) %>"><%= type %></option>
      <% end %>
    </select>
  </div>
</div>

<div class="row"><br/></div>

<div class="col-sm-12 request-list-additional-fields">
<div class="row"><br/></div>

<div class="rl-options-form" id="rl-readingroom-options-form" data-request-type="readingroom">

  <div class="form-group">
    <label class="control-label col-sm-5"><%= t('plugin.request_list.options.date') %></label>
    <div class="input-group datepicker rl-datepicker col-sm-7">
      <input class="date-field form-control rl-ha-list-input"
             data-format="yyyy-mm-dd"
             data-date="<%= Date.today.strftime('%Y-%m-%d') %>"
             data-date-start-date="<%= Date.today.strftime('%Y-%m-%d') %>"
             data-autoclose="true"
             data-force-parse="true"
             placeholder="YYYY-MM-DD"
             name="ScheduledDate">
    </div>
  </div>

  <div class="form-group">
    <label class="control-label"><%= t('plugin.request_list.options.notes') %></label>
    <textarea name="Notes" rows="4" class="form-control rl-ha-list-input" maxlength="255"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label"><%= t('plugin.request_list.options.questions') %></label>
    <textarea name="SpecialRequest" rows="4" class="form-control rl-ha-list-input" maxlength="255"></textarea>
  </div>

</div>


<div class="rl-options-form" id="rl-saved-options-form" data-request-type="saved">
  <div class="form-group">
    <label class="control-label"><%= t('plugin.request_list.options.notes') %></label>
    <textarea name="Notes" rows="4" class="form-control rl-ha-list-input" maxlength="255"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label"><%= t('plugin.request_list.options.questions') %></label>
    <textarea name="SpecialRequest" rows="4" class="form-control rl-ha-list-input" maxlength="255"></textarea>
  </div>
</div>


<div class="rl-options-form" id="rl-photoduplication-options-form" data-request-type="photoduplication">
  <div class="form-group">
    <label class="control-label col-sm-5"><%= t('plugin.request_list.options.format') %></label>
    <div class="col-sm-7">
      <select name="Format" class="form-control rl-ha-list-input">
        <option value="">...</option>
        <% handler.list_opts[:format_options].each do |option| %>
          <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-5"><%= t('plugin.request_list.options.delivery') %></label>
    <div class="col-sm-7">
      <select name="ShippingOption" class="form-control rl-ha-list-input">
        <option value="">...</option>
        <% handler.list_opts[:delivery_options].each do |option| %>
          <option value="<%= option %>"><%= option %></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-5"><%= t('plugin.request_list.options.for_publication') %></label>
    <div class="col-sm-7">
      <select name="ForPublication" class="form-control rl-ha-list-input">
        <option value="">...</option>
        <option value="Yes"><%= t('plugin.request_list.options.for_publication_yes') %></option>
        <option value="No"><%= t('plugin.request_list.options.for_publication_no') %></option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label"><%= t('plugin.request_list.options.notes') %></label>
    <textarea name="Notes" rows="4" class="form-control rl-ha-list-input" maxlength="255"></textarea>
  </div>

  <div class="form-group">
    <label class="control-label"><%= t('plugin.request_list.options.photoduplication_instructions') %></label>
    <textarea name="SpecialRequest" rows="4" class="form-control rl-ha-list-input" maxlength="255"></textarea>
  </div>

</div>
</div>

<script>

  $.fn.combobox.defaults.template = '<div class="combobox-container input-group"><input type="hidden" /><input type="text" autocomplete="off"/><span class="input-group-btn btn dropdown-toggle" data-dropdown="dropdown"><span class="caret"/><span class="combobox-clear"><span class="icon-remove"></span></span></span></div>';
  $(function() {
    var initDateFields = function(scope) {
      scope = scope || $(document.body);
      $(".date-field:not(.initialised)", scope).each(function() {
        var $dateInput = $(this);

        if ($dateInput.parent().is(".input-group")) {
          $dateInput.parent().addClass("date");
        } else {
          $dateInput.wrap("<div class='input-group date'></div>");
        }

        $dateInput.addClass("initialised");

        var $addon = $("<span class='input-group-addon'><i class='glyphicon glyphicon-calendar'></i></span>");
        $dateInput.after($addon);

        $dateInput.datepicker($dateInput.data());

        $addon.on("click", function() {
          $dateInput.focus().select();
        });
      });
    };
    initDateFields();
  });


  $("#request_type_select").change(function() {
    var selected = this.selectedOptions[0];
    var inputs = JSON.parse(selected.getAttribute("value"));
    for(var name in inputs) {
      $(this).parent().parent().parent().find("input[name=" + name + "]").attr("value", inputs[name]);
    }
    $('.rl-options-form').hide();
    $('.rl-ha-item-form').hide();
    if (selected.text == 'Reading room') {
      $("#rl-readingroom-options-form").show();
      $(".request-list-additional-fields").slideDown();
      $('.rl-ha-item-form-readingroom').show();
    } else if (selected.text == 'Saved') {
      $("#rl-saved-options-form").show();
      $(".request-list-additional-fields").slideDown();
      $('.rl-ha-item-form-saved').show();
    } else if (selected.text == 'Photoduplication') {
      $("#rl-photoduplication-options-form").show();
      $(".request-list-additional-fields").slideDown();
      $('.rl-ha-item-form-photoduplication').show();
    } else {
      $(".request-list-additional-fields").slideUp('normal', function() {
        var form = $(".rl-options-form");
        form.hide();
        form.find("select").val("");
        form.find("textarea").val("");
        form.find("input").val("");
      });
    }
  });


  $('.rl-ha-list-input').on('change keyup paste', function() {
    var srcVal = $(this).val();
    if (srcVal.length > 20) { srcVal = srcVal.substr(0,20) + '...' }
    var itemForms = $('.rl-ha-item-form-' + $(this).parents('.rl-options-form').data('request-type'));
    itemForms.find('[name^="' + $(this).attr('name') + '_"]').attr('placeholder', srcVal);

    if ($(this).is('select')) {
      var selected = this.selectedOptions[0].text;
      if (selected != '...') { selected = '(' + selected + ')' }

      itemForms.find('select[name^="' + $(this).attr('name') + '_"]').children('option:first-child').text(selected);
    }
  });


//  $('#rl-handler-<%= handler.id %>').find('.rl-form').submit(function(e) {
//    e.preventDefault();
//    alert('moo');
//  });

</script>
